<nav class="navbar navbar-default">
    <a href="#" class="navbar-left"><img class="custom_brand_logo" src="/static/images/logo.png" alt="logo"  style="float: left;" height="50"></a>
    <div class="container-fluid">
        <ul class="nav nav-tabs navbar-nav navbar-right">
            <li class="active"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i> Products</a></li>
            <li class=""><a href="/invoices"><i class="fa fa-file-text-o" aria-hidden="true"></i> Invoices</a></li>
            <li class=""><a href="/customers"><i class="fa fa-users" aria-hidden="true"></i> Customers</a></li>
            <li class="logout-root"><a href="#logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-md-6 ">
        <h2>Products</h2>
    </div>
    <div class="col-md-6 ">
        <div class="add_more_button add_new_product" style="width: 124px"><i class="fa fa-plus" aria-hidden="true"></i> Add new Product</div>
        <div class="remove_more_button remove_new_product" style="width: 124px; display: none"><i class="fa fa-times" aria-hidden="true"></i> Cancel</div>
    </div>
</div>
<div class="container">
    <form class="add-product-form" style="display: none">
        <hr>
        <h4 class="color-green">NEW PRODUCT</h4>
        <div class="row m-t-15">
            <div class="col-md-6 ">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name of the Product" name="name" maxlength="45" required>
            </div>
            <div class="col-md-6 ">
                <label>Label</label>
                <input type="text" class="form-control" placeholder="Label of the product (if any)" maxlength="145" name="label">
            </div>
        </div>
        <div class="row m-t-15">
            <div class="col-md-12">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Enter Description" name="description" required maxlength="255">
            </div>
        </div>
        <div class="row m-t-15">
            <div class="col-md-6 ">
                <label>Rate (in $)</label>
                <input type="number" step="0.01" min="0.01" max="9999" class="form-control" placeholder="Enter Price" name="rate" required>
            </div>
            <div class="col-md-6 ">
                <label>Unique Code/SKU</label>
                <input type="text" class="form-control" placeholder="Enter Unique Code/SKU"  maxlength="99" name="sku" required>
            </div>
        </div>
        <div class="product_alert_div alert" style="display: none"></div>
        <button type="submit" class="btn submit-btn m-t-15">Submit</button>
    </form>
    <hr>
    <table id="products-table" class="display:none" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Description</th>
            <th>Rate </th>
            <th>Unique Code/SKU</th>
        </tr>
        </thead>
    </table>
    <div class="no_data_found"></div>
</div>
<script type="text/javascript" src="static/javascripts/product.js?v=0.0.1"></script>
<script type="text/javascript" src="static/javascripts/logout.js"></script>